.searchContainer {
  display: flex;
  flex-direction: column;
}

.searchText {
  height: 44px;
  border-radius: 14px;
  border: 1px solid;
  // padding-left: 45rem;

  font-size: 1.2 rem;
  line-height: 1.8 rem;
}
