.searchContainer {
  display: flex;
  flex-direction: column;
}

.searchContainer .searchIcon {
  position: absolute;
}

.searchIcon {
  // padding: 1.5rem;
  padding: 15px;
  text-align: left;
}

.searchText {
  height: 44px; // TODO: convert to rem
  border-radius: 14px; // TODO: convert to rem
  border: 1px solid;
  // padding-left: 45rem;
  padding-left: 45px;

  font-size: 1.2 rem;
  line-height: 1.8 rem;
}
